@media (min-width: 510px) {
    h1 {
        font-size: 2em;
    }

    h2 {
        text-align: left;
    }

    h5 {
        font-size: 0.5em;
    }

    p {
        text-align: left;
    }

    .tab-link h6 {
        display: none;
    }

    .primary-icon {
        text-align: left;
        margin-bottom: 5em;
    }

    .Icon {
        float: left;
        margin-right: 1em;
    }
}
